VITE_SUPABASE_URL=https://sgrsrafqybmwnnnvjxyn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNncnNyYWZxeWJtd25ubnZqeHluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NjkyODAsImV4cCI6MjA5NjI0NTI4MH0.Oa7DgkIdHsyRFTBASQ3uqNB6J1kQwzWiYR7Cn3erJ1A
VITE_CLUB_SECRET=4@D&Bte5QjWXl3XDpXFSgDnnNI!L8jNsiW0EGK@U